h1, h2 {
    text-align: center;
    text-decoration: none;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    height: 85vh;
}

.main-content div {
    margin-top: 35px;
    border: 3px solid gray;
    border-radius: 5px;
    height: 65vh;
    width: 75vh;
    background-color: antiquewhite;
}

#about, #contact {
    background-color: antiquewhite;
    height: 35vh;
    width: 50vw;
    border-top: 2px solid gray;
}

#about {
    border-right: 2px solid gray;
}

footer {
    display: flex;
}